<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
</head>
<body>
    <main>
        <form method="POST" action="/products">
            <h1>Add Products</h1>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" name="price" id="price">
            </div>
            <button type="submit">Save Product</button>
        </form>
    </main>
    
</body>
</html>